@model NorthwindLibrary.Entities.Category
@{
    ViewData["Title"] = Model.CategoryName;
    ViewData["stringPath"] = "images/category"+Model.CategoryID+".jpeg";
}

<div class="container">
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/@ViewData["stringPath"]" alt="" style="max-width: 540px">
                </div>

                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">@Model.CategoryName</h5>
                        <p class="card-text">@Model.Description</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <hr />

    <div class="row mb-3">
        <div class="card mb-3">
            <div class="card-header">
                <h3>Products in @Model.CategoryName (@Model.Products.Count())</h3>
            </div>

            <div class="card-body">
                <ol>
                    @foreach (var product in Model.Products)
                    {
                        <li>
                            <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.ProductID">@product.ProductName</a>
                        </li>
                    }
                </ol>
                
            </div>

        </div>
    </div>

</div>
